@mixin border {
	border: 1px solid #B5B5B5;
	border-radius: 6px;
	box-shadow: rgba(255, 255, 255, 0.7) 0px 1px inset;

	&:hover {
		box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.3);
	}

	&:active {
		box-shadow: rgba(255, 255, 255, 0.7) 0px 1px inset, 0px 0px 8px -1px rgba(79, 176, 239, 0.44);
		border-color: #7693A9;
	}

	&:disabled {
		border: 1px solid rgba(181, 181, 181, 0.4);
		border-radius: 6px;
	}

	&:disabled:hover {
		/*border: 1px solid rgba(181, 181, 181, 0.4);
		border-radius: 6px;*/
		box-shadow: none;
		cursor: default;
	}
}

@mixin background {
	background: linear-gradient(0deg, #d0d0d0, #f3f3f3);
	outline-style: none; /* Override webkit focus border */
	&:hover {
	}

	&:active {
		background: linear-gradient(0deg, #a5c8e2, #c9e8fe);
	}

	&:disabled {
		background: linear-gradient(0deg, rgba(208, 208, 208, 0.4), rgba(243, 243, 243, 0.4));
	}

	&:disabled:hover {
		background: linear-gradient(0deg, rgba(208, 208, 208, 0.4), rgba(243, 243, 243, 0.4));
		cursor: default;
	}
}

@mixin foreground {
	color: #676767;
	text-shadow: 0px 1px 0px rgba(256, 256, 256, 0.7);
	font-family: 'Noto Sans', sans-serif;

	&:active {
		color: #556e81;
		//transition: all 0.5s ease-out;
	}

	&:disabled {
		color: #9a9da0;
	}
}

@mixin input {
	@include border;
	@include background;
	@include foreground;
}



label {
	color: #676767;
	font-family: 'Noto Sans', sans-serif;
	margin-right: 4px;
}



input[type="button"] {
	@include input;
	font-weight: bold;
	padding: 5px 24px 5px 24px;
	cursor: pointer;
	margin: 0 2px 0 2px;

	&.primary {
		box-shadow: rgba(255, 255, 255, 0.7) 0px 1px inset;
		border-color: #7693A9;
		background: linear-gradient(0deg, #81bdea, #b0defe);
		// TODO: the primary doesn't have the hover/active/disabled states
	}
}



input[type="text"] {
	@include border;
	@include foreground;
	outline-style: none; /* Override webkit focus border */
	padding: 5px 7px 5px 7px;
	box-shadow:
		// Inner shadow
		rgba(0, 0, 0, 0.3) 1px 1px 8px -1px inset;

	&:hover {
		box-shadow:
			// Inner shadow
			rgba(0, 0, 0, 0.3) 1px 1px 8px -1px inset,
		
			// Outer glow	
			0px 0px 8px -1px rgba(0, 0, 0, 0.3);
	}

	&:focus {
		border-color: #7693A9;
		box-shadow:
			// Inner shadow
			rgba(0, 0, 0, 0.3) 1px 1px 8px -1px inset,
		
			// Outer glow	
			0px 0px 8px -1px rgba(79, 176, 239, 0.44);
	}

	&.search {
		border-radius: 500px;
		padding: 4px 14px 4px 14px;
	}
}





select {
	@include input;
	font-weight: bold;
	padding: 2px 6px 2px 6px;
	cursor: pointer;
	margin: 0 2px 0 2px;
	min-width: 80px;
}




input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	@include border;
	@include background;
	@include foreground;
	display: block;
	width: 15px;
	height: 15px;
	margin: 10px 0 10px 0;
	border-radius: 15px;
	cursor: pointer;
	overflow-x: visible;
	white-space: nowrap;
	font-size: 14px;
	color: #676767;
	text-wrap: none;
	text-indent: 24px;
	user-select: none;
	vertical-align: middle;
	line-height: 15px;
}

input[type="radio"]:checked + label {
	@include border;
	@include background;
	@include foreground;
	border-radius: 15px;
	border-color: #7693A9;
	background: linear-gradient(0deg, #a5c8e2, #c9e8fe);
}

input[type="radio"]:checked + label > checkmark {
	background-color: #4e728f;
	display: block;
	width: 7px;
	height: 7px;
	position: relative;
	top: -11px;
	left: 4px;
	border-radius: 7px;
	box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 2px 0px inset, rgba(255, 255, 255, 0.4) 1px 1px 1px;
}




input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	@include border;
	@include background;
	@include foreground;
	display: block;
	width: 14px;
	height: 14px;
	margin: 10px 0 10px 0;
	border-radius: 3px;
	cursor: pointer;
	overflow-x: visible;
	white-space: nowrap;
	font-size: 14px;
	color: #676767;
	text-wrap: none;
	text-indent: 24px;
	user-select: none;
	vertical-align: middle;
	line-height: 15px;
}

input[type="checkbox"]:checked + label {
	@include border;
	@include background;
	@include foreground;
	border-radius: 3px;
	border-color: #7693A9;
	background: linear-gradient(0deg, #a5c8e2, #c9e8fe);
}

input[type="checkbox"]:checked + label > checkmark {
	border-bottom: 3px solid #4e728f;
	border-right: 3px solid #4e728f;
	width: 3px;
	height: 7px;
	transform: rotate(45deg);
	display: block;
	position: relative;
	top: -14px;
	left: 4px;
	box-shadow: rgba(255, 255, 255, 0.4) 1px 1px 1px; // TODO - radios don't have this outer white highlight. Should they?
}


// TODO visit sizing and spacing of radios compared to checkboxes. Are they visually consistent?